<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.aisc.logistics.mapper.vehicle.TruckMapper" >
  <resultMap id="BaseResultMap" type="cc.aisc.logistics.model.vehicle.Truck" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="itnl_sn" property="itnlSn" jdbcType="VARCHAR" />
    <result column="tractor_id" property="tractor.id" jdbcType="BIGINT" />
    <result column="trailer_id" property="trailer.id" jdbcType="BIGINT" />
    <result column="driver_id" property="driver.id" jdbcType="BIGINT" />
    <result column="codrv_id" property="codrv.id" jdbcType="BIGINT" />
    <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gps_no" property="gpsNo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ValidResultMap"   type="HashMap" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="itnl_sn" property="itnlSn" jdbcType="VARCHAR" />
    <result column="tractor_plate" property="tractorPlate" jdbcType="VARCHAR" />
    <result column="trailer_plate" property="trailerPlate" jdbcType="VARCHAR" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="codrv_name" property="codrvName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itnl_sn, tractor_id, trailer_id, driver_id, codrv_id, `status`, remark, gps_no
  </sql>
  <select id="selectByNestedInfo" parameterType="Map" resultMap="ValidResultMap">
    select t.id as id, t.itnl_sn as itnl_sn, t1.plate_no as tractor_plate, t2.plate_no as trailer_plate, t3.name as driver_name, t4.name as codrv_name
    from veh_truck t
    JOIN veh_tractor t1 on t.tractor_id=t1.id
    JOIN veh_trailer  t2 on t.trailer_id=t2.id
    JOIN veh_driver t3 on t.driver_id=t3.id
    JOIN veh_driver t4 on t.codrv_id=t4.id
    WHERE 1=1
    <if test="itnlSn!=null and itnlSn!=''">
      AND itnl_sn LIKE CONCAT(CONCAT('%',#{itnlSn,jdbcType=VARCHAR},'%'))
    </if>
    <if test="tractorPlate!=null and tractorPalte!=''">
      AND t1.plate_no LIKE CONCAT(CONCAT('%',#{tractorPlate,jdbcType=VARCHAR},'%'))
    </if>
    <if test="trailerPlate!=null and trailerPalte!=''">
      AND t2.palte_no LIKE CONCAT(CONCAT('%',#{trailerPlate,jdbcType=VARCHAR},'%'))
    </if>
    <if test="driverName!=null and driverName!=''">
      AND (t3.name LIKE CONCAT(CONCAT('%',#{driverName,jdbcType=VARCHAR},'%'))
      OR t4.name LIKE CONCAT(CONCAT('%',#{driverName,jdbcType=VARCHAR},'%')))
    </if>
  </select>
  <select id="selectByMultiConditioned" parameterType="cc.aisc.logistics.model.vehicle.Truck" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from veh_trailer
    where 1 = 1
    <if test="itnlSn!=null and itnlSn!=''">
      AND  itnl_sn LIKE CONCAT(CONCAT('%',#{itnlSn,jdbcType=VARCHAR},'%'))
    </if>
    <if test="tractor!=null">
      AND tractor_id = #{tractor.id,jdbcType=BIGINT}
    </if>
    <if test="trailer!=null">
      AND trailer_id = #{trailer.id,jdbcType=BIGINT}
    </if>
    <if test="driver!=null">
      AND driver_id = #{driver.id,jdbcType=BIGINT}
    </if>
    <if test="codrv!=null">
      AND codrv_id = #{codrv.id,jdbcType=BIGINT}
    </if>
    <if test="status!=null">
      AND status = #{status,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from veh_truck
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from veh_truck
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cc.aisc.logistics.model.vehicle.Truck" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into veh_truck (itnl_sn, tractor_id, trailer_id, 
      driver_id, codrv_id, `status`, remark,
      gps_no)
    values (#{itnlSn,jdbcType=VARCHAR}, #{tractor.id,jdbcType=BIGINT}, #{trailer.id,jdbcType=BIGINT},
      #{driver.id,jdbcType=BIGINT}, #{codrv.id,jdbcType=BIGINT}, #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}, #{remark,jdbcType=VARCHAR},
      #{gpsNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.aisc.logistics.model.vehicle.Truck" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into veh_truck
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itnlSn != null" >
        itnl_sn,
      </if>
      <if test="tractor != null" >
        tractor_id,
      </if>
      <if test="trailer != null" >
        trailer_id,
      </if>
      <if test="driver != null" >
        driver_id,
      </if>
      <if test="codrv != null" >
        codrv_id,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gpsNo != null" >
        gps_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itnlSn != null" >
        #{itnlSn,jdbcType=VARCHAR},
      </if>
      <if test="tractor != null" >
        #{tractor.id,jdbcType=BIGINT},
      </if>
      <if test="trailer != null" >
        #{trailer.id,jdbcType=BIGINT},
      </if>
      <if test="driver != null" >
        #{driver.id,jdbcType=BIGINT},
      </if>
      <if test="codrv != null" >
        #{codrv.id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gpsNo != null" >
        #{gpsNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.aisc.logistics.model.vehicle.Truck" >
    update veh_truck
    <set >
      <if test="itnlSn != null" >
        itnl_sn = #{itnlSn,jdbcType=VARCHAR},
      </if>
      <if test="tractor != null" >
        tractor_id = #{tractor.id,jdbcType=BIGINT},
      </if>
      <if test="trailer != null" >
        trailer_id = #{trailer.id,jdbcType=BIGINT},
      </if>
      <if test="driver != null" >
        driver_id = #{driver.id,jdbcType=BIGINT},
      </if>
      <if test="codrv != null" >
        codrv_id = #{codrv.id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        `status` = #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gpsNo != null" >
        gps_no = #{gpsNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.aisc.logistics.model.vehicle.Truck" >
    update veh_truck
    set itnl_sn = #{itnlSn,jdbcType=VARCHAR},
      tractor_id = #{tractor.id,jdbcType=BIGINT},
      trailer_id = #{trailer.id,jdbcType=BIGINT},
      driver_id = #{driver.id,jdbcType=BIGINT},
      codrv_id = #{codrv.id,jdbcType=BIGINT},
      `status` = #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
      remark = #{remark,jdbcType=VARCHAR},
      gps_no = #{gpsNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>