<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.aisc.logistics.mapper.veh.TruckMapper" >
  <resultMap id="ValidResultMap"   type="cc.aisc.logistics.model.veh.Truck" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="itnl_sn" property="itnlSn" jdbcType="VARCHAR" />
    <association column="tractor_id" property="tractor" select="selectAssocTractor" />
    <association column="trailer_id" property="trailer" select="selectAssocTrailer" />
    <association column="driver_id" property="driver" select="selectAssocDriver" />
    <association column="codrv_id" property="codrv" select="selectAssocDriver" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cc.aisc.logistics.model.veh.Truck" extends="ValidResultMap">
    <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gps_no" property="gpsNo" jdbcType="VARCHAR" />
    <result column="available" property="available" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, itnl_sn, tractor_id, trailer_id, driver_id, codrv_id, `status`, remark, gps_no, available
  </sql>
  <sql id="Valid_Column_List" >
    id, itnl_sn, tractor_id, trailer_id, driver_id, codrv_id
  </sql>
  <select id="selectAssocTractor" parameterType="java.lang.Long" resultType="cc.aisc.logistics.model.veh.Tractor">
    SELECT id, plate_no
    FROM veh_tractor
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAssocTrailer" parameterType="java.lang.Long" resultType="cc.aisc.logistics.model.veh.Trailer">
    SELECT id, plate_no
    FROM veh_trailer
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAssocDriver" parameterType="java.lang.Long" resultType="cc.aisc.logistics.model.veh.Driver">
    SELECT id, `name`
    FROM veh_driver
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBySelective" parameterType="java.lang.String" resultMap="ValidResultMap">
    select
    <include refid="Valid_Column_List" />
    from veh_truck
    where available = 1
      AND  itnl_sn LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR},'%'))
<!--      OR tractor.palte_no LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR},'%'))
      OR trailer.palte_no LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR},'%'))
      OR driver.name LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR},'%'))
      OR codrv.name LIKE CONCAT(CONCAT('%',#{param,jdbcType=VARCHAR},'%'))-->
  </select>
  <select id="selectByMultiConditioned" parameterType="cc.aisc.logistics.model.veh.Truck" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from veh_trailer
    where 1 = 1
    <if test="itnlSn!=null and itnlSn!=''">
      AND  itnl_sn LIKE CONCAT(CONCAT('%',#{itnlSn,jdbcType=VARCHAR},'%'))
    </if>
    <if test="tractor!=null">
      AND tractor_id = #{tractor.id,jdbcType=BIGINT}
    </if>
    <if test="trailer!=null">
      AND trailer_id = #{trailer.id,jdbcType=BIGINT}
    </if>
    <if test="driver!=null">
      AND driver_id = #{driver.id,jdbcType=BIGINT}
    </if>
    <if test="codrv!=null">
      AND codrv_id = #{codrv.id,jdbcType=BIGINT}
    </if>
    <if test="status!=null">
      AND status = #{status,jdbcType=INTEGER}
    </if>
    <if test="available != null">
      AND available = #{available, jdbcType=BIT}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from veh_truck
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from veh_truck
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cc.aisc.logistics.model.veh.Truck" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into veh_truck (itnl_sn, tractor_id, trailer_id, 
      driver_id, codrv_id, `status`, remark,
      gps_no, available)
    values (#{itnlSn,jdbcType=VARCHAR}, #{tractor.id,jdbcType=BIGINT}, #{trailer.id,jdbcType=BIGINT},
      #{driver.id,jdbcType=BIGINT}, #{codrv.id,jdbcType=BIGINT}, #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}, #{remark,jdbcType=VARCHAR},
      #{gpsNo,jdbcType=VARCHAR},#{available, jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cc.aisc.logistics.model.veh.Truck" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into veh_truck
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itnlSn != null" >
        itnl_sn,
      </if>
      <if test="tractor != null" >
        tractor_id,
      </if>
      <if test="trailer != null" >
        trailer_id,
      </if>
      <if test="driver != null" >
        driver_id,
      </if>
      <if test="codrv != null" >
        codrv_id,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gpsNo != null" >
        gps_no,
      </if>
      <if test="available != null">
        available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itnlSn != null" >
        #{itnlSn,jdbcType=VARCHAR},
      </if>
      <if test="tractor != null" >
        #{tractor.id,jdbcType=BIGINT},
      </if>
      <if test="trailer != null" >
        #{trailer.id,jdbcType=BIGINT},
      </if>
      <if test="driver != null" >
        #{driver.id,jdbcType=BIGINT},
      </if>
      <if test="codrv != null" >
        #{codrv.id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gpsNo != null" >
        #{gpsNo,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available, jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.aisc.logistics.model.veh.Truck" >
    update veh_truck
    <set >
      <if test="itnlSn != null" >
        itnl_sn = #{itnlSn,jdbcType=VARCHAR},
      </if>
      <if test="tractor != null" >
        tractor_id = #{tractor.id,jdbcType=BIGINT},
      </if>
      <if test="trailer != null" >
        trailer_id = #{trailer.id,jdbcType=BIGINT},
      </if>
      <if test="driver != null" >
        driver_id = #{driver.id,jdbcType=BIGINT},
      </if>
      <if test="codrv != null" >
        codrv_id = #{codrv.id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        `status` = #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gpsNo != null" >
        gps_no = #{gpsNo,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available, jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.aisc.logistics.model.veh.Truck" >
    update veh_truck
    set itnl_sn = #{itnlSn,jdbcType=VARCHAR},
      tractor_id = #{tractor.id,jdbcType=BIGINT},
      trailer_id = #{trailer.id,jdbcType=BIGINT},
      driver_id = #{driver.id,jdbcType=BIGINT},
      codrv_id = #{codrv.id,jdbcType=BIGINT},
      `status` = #{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
      remark = #{remark,jdbcType=VARCHAR},
      gps_no = #{gpsNo,jdbcType=VARCHAR},
      available = #{available, jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>